// -------------------
//       Imports
// -------------------
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

// -------------------
//      Typography
// -------------------
* {
    box-sizing: border-box;
}
body {
	font-family: 'Ubuntu', sans-serif;
}
h2, .h2 {
    font-size: 1.25rem;
    color: #333;
}
h4, .h4 {
    font-size: 1.25rem;
    color: #333;
}
p {
	color: #a0a0a0;
	font-weight: 300;

	&.card-text {
	    font-size: 0.9rem;
		line-height: 1.6rem;
	}

	&.lead-paragraph {
		font-size: 1.2rem;
	    margin-top: 2em;
	}
}
a {
	color: #55a1d8;
	transition: color 0.2s ease-in-out;

	&:hover {
		color: #272a62;
		text-decoration: none;
	}

	&.btn.btn-primary {
    	font-size: 0.8em;
	    background-color: #55a1d8;
    	border-color: #55a1d8;
    	transition: all 0.4s ease-in-out;

    	&:hover {
    		background-color: #272a62;
    		border-color: #272a62;
    	}
	}
}

// -------------------
//       Header
// -------------------
header {
    padding-top: 60px;

    h1 {
    	font-size: 1.5rem;
    	color: #333;

    	.b-avatar {
    		margin-left: 12px;
    	}

    	.header-title {
		    margin-left: 15px;
    	}
    }
}

// -------------------
//       Content
// -------------------
.card-group {
    margin-top: 2em;
}

.mb-4, .my-4 {
    margin-bottom: 3.5rem !important;
}

.mt-4, .my-4 {
    margin-top: 5.5rem !important;
}

aside {
    margin-top: 4em;

    h4 {
    	font-size: 1rem;
    	color: #a0a0a0;
    }

    nav {
    	font-weight: 300;

    	a {
    		margin-right: 10px;
    	}
    }
}

// -------------------
//       Footer
// -------------------
footer {
    margin-left: 15px;
    margin-top: 6em;
    margin-bottom: 6em;
    font-size: 0.8em;
    font-weight: 300;
    color: #a0a0a0;
}

// -------------------
//     Responsive
// -------------------
@media (min-width: 360px) {
	header {
	    padding-top: 80px;
	}
}

@media (min-width: 720px) {
	header {
	    padding-top: 100px;
	}
}